* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color:#f3ebdd;
}

header {
    width: 100%;
    /* height: 100%; */
    background: #e74c3c;
    /* position: absolute; */
    overflow: auto;
}
.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}
.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}
.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}
.hamburger-icon {
    position: absolute;
    margin-right: 88em;
    height: 60px;
    width: 60px;
    top: 2%;
    left: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
}

.nav-image img{
   width: 5vw;
   /* position: fixed; */
   margin-left: 90em;
}

.hamburger-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.icon-1.a {
    transform: rotate(40deg);
}
.icon-3.b {
    transform: rotate(-40deg);
}
.icon-2.c {
    opacity: 0;
}
.clear {
    clear: both;
}
@keyframes slideIn {
    0% {
        width: 0%;
        opacity: 0;
   }
    100% {
        width: 50%;
        opacity: 1;
   }
}
nav {
    background: #0288d1;
    position: absolute;
    top: 0;
    left: 0;
    /* height: 100%; */
    width: 150%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
}
#nav ul {
    /* margin-bottom: 1em; */
    position: absolute;
    /* top: 70%; */
    margin-top: 35%;
    left: 22%;
}

nav #nav ul li {
   margin-top: 10em;
   gap: 0.5em;
   align-self: center;
   justify-content: center;
   align-items: center;

}

nav ul li { 
    list-style: none;
    font-size: 24px;
    margin-left: 15em;
    color: #fff;
    line-height: 2.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 2rem;
}
nav ul li a {
   text-decoration: none;
   color: white;
}


nav.show {
    width: 50%;
    opacity: 1;
}
.dark-blue {
    position: absolute;
    top: 0;
    left: 0;
    background: #64b5f6;
    height: 100%;
    /* width: 100%; */
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
}
.dark-blue.slide {
    width: 100%;
    opacity: 1;
}
 @keyframes shotup {
	 0% {
		 transform: translateY(300%);
		 opacity: 0;
	}
	 90% {
		 transform: translateY(-50px);
	}
	 100% {
		 transform: translateY(0%);
		 opacity: 1;
	}
}
 .content {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 transform: translate(-50%, -50%);
	 text-align: center;
}
 .content h1 {
	 font-size: 70px;
	 animation: shotup 600ms ease-in-out;
	 animation-delay: 300ms;
}
 

.text {
    width: 100%;
    height: calc(100vh - 6em);
    padding: 2em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    position: relative;
    width: 70%;
    height: 100%;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
}

.left-section h1 {
    width: 60vw;
    padding: 0.5em;
    font-size: 3em;
    text-transform: capitalize;
    animation-name: giggle;
    animation-duration: 2s;
}


.left-section h4 {
    width: 60vw;
    padding: 0.5em;
    font-weight: 400;
    font-size: 18px;
    animation-name: giggle;
    animation-duration: 2s;
}


@keyframes giggle {
    from {
        margin-left: -500px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.left-section button {
    margin-bottom: 0.8em;
    font-size: 16px;
    padding: 1em 3em;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: crimson;
    color: white;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 1.5s;
}

@keyframes anime {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }


}

.right-section {
    width: 30%;
    height: 28em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section img{
    width: 100%;
    height: 100%;
    padding: 3.5em;
    animation-name: zoom;
    animation-duration: 2s;
}

@keyframes zoom{
    from {
        scale:0;
    }

    to {
        scale:1;
    }
}


.parent {
    width: 95%;
    height: auto;
    margin: 30px 0 0 30px;
    border-radius: 20px;
    padding: 20px;
    gap: 2em;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
}

.card-1 {
    width: 420px;
    height: 510px;
    background-color: brown;
    border-radius: 12px;
    padding: 10px;
    flex-direction: column;
    animation-name: leftsideslide;
    animation-duration: 0.8s;
  }

.card-1 img {
    width: 400px;
    height: 370px;
    border-radius: 1em;
}

.card-1 h2 {
    padding: 0.7em;
    text-align: center;
}

.card-1 i  {
    margin-left: 5.5em;
}

.card-1 span {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    /* margin-left: 2em; */
}

.card-1 button {
    margin-top: 2em;
    margin-left: 8.5em;
    font-size: 10px;
    padding: 1em 3em;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: rgb(255, 253, 254);
    color: rgb(8, 6, 6);
}

@keyframes leftsideslide {
    from {
        transform:translateX(-100px);
        opacity: 0;
    }

    to {
        transform:translateX(0);
        opacity: 100;
    }
}

.card-2 {
    width: 420px;
    height: 510px;
    background-color: brown;
    border-radius: 12px;
    padding: 10px;
    animation-name: downside;
    animation-duration: 0.8s;
  }

.card-2 img {
    width: 400px;
    height: 370px;
    border-radius: 1em;
}

.card-2 h2 {
    padding: 0.7em;
    text-align: center;
}

.card-2 i  {
    margin-left: 5.5em;
}

.card-2 span {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    /* margin-left: 2em; */
}

.card-2 button {
    margin-top: 2em;
    margin-left: 8.5em;
    font-size: 10px;
    padding: 1em 3em;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: rgb(255, 253, 254);
    color: rgb(8, 6, 6);
}


@keyframes downside {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0);
        opacity: 1;
    }

}

.card-3 {
    width: 420px;
    height: 510px;
    background-color: brown;
    border-radius: 12px;
    padding: 10px;
    animation-name: rightsideslide;
    animation-duration: 0.8s;
  }

.card-3 img {
    width: 400px;
    height: 370px;
    border-radius: 1em;
}

.card-3 h2 {
    padding: 0.7em;
    text-align: center;
}

.card-3 i  {
    margin-left: 5.5em;
}

.card-3 span {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    /* margin-left: 2em; */
}

.card-3 button {
    margin-top: 2em;
    margin-left: 8.5em;
    font-size: 10px;
    padding: 1em 3em;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: rgb(255, 253, 254);
    color: rgb(8, 6, 6);
}

@keyframes rightsideslide {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100;
    }
}

.down-content {
    display: flex;
    margin: 3em;
    padding-left: 4em;
    justify-content: space-between;
    align-items: center;
}

.down-content img {
    width:20vw;
    margin: 2vw;
    /* height: 280px; */
    animation-name: leftsideslide;
    animation-duration: 0.6s;
}

@keyframes leftsideslide {
    from {
        transform:translateX(-100px);
        opacity: 0;
    }

    to {
        transform:translateX(0);
        opacity: 100;
    }
}    

.down-content p {
    margin-left: 200px;
    line-height: 5vh;
    font-size: 1.4rem;
    animation-name:rightsideslide;
    animation-duration:0.8s;
}


@keyframes rightsideslide {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100;
    }
}


footer div {
    margin-bottom: 10em;
    width: 100%;
    background-color:rgb(243, 131, 83);
    text-align: center;
    animation-name: downside;
    animation-duration: 0.5s;
}


@keyframes downside {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0);
        opacity: 1;
    }

}

/*m0bile small size*/
@media only screen and (min-width:200px) and (max-width:321px) {



  
}

/*m0bile-medium size*/
@media only screen and (min-width:200px) and (max-width:321px) {

}

/*m0bile-large size*/
@media only screen and (min-width:376px) and (max-width:426px) {

}

/* tablet */
@media only screen and (min-width:426px) and (max-width:769px) {

}

/* laptop */
@media only screen and (min-width:769px) and (max-width:1025px) {

}

/* laptop large */
@media only screen and (min-width:1025px) and (max-width:1441px) {

}

/* laptop 4k and large monitor */
@media only screen and (min-width:1440px) and (max-width:2560px) {

}


